html, body, .container-fluid {
   height: 100%;
}

.NavBarDiv {
   width: 100vw;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.leftNavBarDiv {
   width: 10vw;
   display: flex;
   justify-content: center;
}

.middleNavBarDiv {
   width: 80vw;
   display: flex;
   justify-content: center;
}

.rightNavBarDiv {
   width: 10vw;
   display: flex;
   justify-content: center;
}

#title {
   color: aqua;
}